@font-face {
  font-family: "DINPro Light";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Light"),
    url("../fonts/DINPro-Light\ tr.woff") format("woff");
}

@font-face {
  font-family: "DINPro Medium";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Medium"),
    url("../fonts//DINPro-Medium\ tr.woff") format("woff");
}

@font-face {
  font-family: "DINPro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Bold"), url("../fonts/DINPro-Bold\ tr.woff") format("woff");
}

@font-face {
  font-family: "DINPro Black";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Black"),
    url("../fonts/DINPro-Bold\ tr.woff") format("woff");
}

@font-face {
  font-family: "PortraitScript Regular";
  /* src: url('../fonts/Portrait-script-regular.ttf');  */
  src: local("PortraitScript Regular"),
    url("../fonts/Portrait-script-regular.ttf") format("opentype");
}

html {
  font-family: "Lato", sans-serif;
  background: #f1f0eb;
}

body {
  font-family: inherit;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Side Panel */
.side-panel {
  width: 20vw;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  position: fixed;
  z-index: 0;
  top: 0;
}
.menu {
  position: absolute;
  margin-top: 50px;
  left: calc(10vw - 50px);
}
.menu:before {
  content: "";
  height: calc(10vh - 25px);
  width: 1px;
  background: #181818;
  bottom: 33px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  opacity: 0.08;
}

.menu-border {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  border: 1px solid #181818;
  opacity: 0.08;
  transition: 0.2s;
  cursor: pointer;
}
.menu-border:hover {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  border: 1px solid #181818;
  opacity: 0.08;
}

.menu-icon {
  margin-top: 10px;
}

.menu span {
  height: 1px;
  margin-bottom: 3px;
  background: black;
  display: block;
}

.menu span:first-child {
  width: 30px;
}
.menu span:nth-child(2) {
  width: 10px;
}
.menu span:nth-child(3) {
  width: 15px;
}

.menu-text {
  font-size: 0.8em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.03em;
  transform: rotate(-90deg) translate(-230px, -36px);
  white-space: nowrap;
  text-align: right;
  color: #d95244;
}

.header-socials {
  top: 40%;
  left: 5vw;
  padding: 1em 1em;
  bottom: initial;
  right: initial;
  position: absolute;
}
.header-socials li {
  padding-top: 8px;
  list-style: none;
  transform: rotate(-90deg);
}

.header-socials a {
  font-weight: bold;
  font-style: italic;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
}

.header-socials a:hover {
  font-weight: bold;
  font-size: 0.8em;
  color: #d95244;
  text-decoration: none;
}

.logo {
  padding: 1em 1em;
  top: 80%;
  left: 5vw;
  width: 1em;
  height: 3em;
  display: block;
  position: absolute;
}

/* Intro */

.introduction {
  width: 100%;
}

.introduction-title li {
  display: inline;
}

.introduction-title {
  height: auto;
  /* overlap the text with image */
  transform: translate(0, -30px);
  margin-left: calc(20vw + 2.5%);
  position: absolute;
  color: #181818;
  font-style: normal;
  font-size: 12rem;
  font-weight: 700;
  letter-spacing: -0.08em;
  z-index: 1;
}

.small-introduction-title li {
  display: inline;
}

.small-introduction-title {
  height: auto;
  /* overlap the text with image */
  transform: translate(0, 30px);
  margin-left: calc(20vw + 2.5%);
  position: absolute;
  color: #181818;
  font-style: normal;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: -0.08em;
  z-index: 1;
}

.introduction-cover-wrapper {
  width: 80vw;
  height: auto;
  position: absolute;
  right: 0;
  margin-top: 8.1rem;
}

.scroll {
  font-size: 0.8em;
  font-weight: bold;
  left: calc((100% / 40) * 9.5);
  position: absolute;
  bottom: 0;
  line-height: 1.5;
  transform: translateY(-60px);
}

.scroll-down-icon {
  width: 7px;
  height: 32px;
  transform: rotateY(90);
  bottom: 0;
}
.scroll:after {
  content: "";
  position: absolute;
  bottom: 0;
  top: calc(100% + 2vh);
  left: 50%;
  width: 0;
  height: 50px;
  border: 1px dashed #181818;
  opacity: 1;
  transition: transform 0.9s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.9s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.8s;
}

.image-with-text {
  left: 20vw;
  width: 80vw;
  height: auto;
  right: 0;
}

.gallery {
  height: 100%;
  width: 80vw;
  margin: 0 auto;
  display: block;
}

/* General */
.spacer {
  content: "";
  height: 20vh;
  width: 100vw;
  background: transparent;
}
.block-quote {
  padding-left: 20vw;
  width: 60vw;
  margin-left: 0;
}
.block-quote-sentence {
  text-align: center;
  font-family: "PortraitScript Regular", cursive;
  font-weight: 300;
  font-size: 1.5em;
}
.block-quote-author {
  text-align: right;
  font-family: "DINPro Light", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 4rem;
}
.block-quote-author span {
  align-items: flex-end;
  height: 1px;
  margin-bottom: 3px;
  background: black;
  display: inline-block;
  width: 30px;
}
.paragraph {
  font-family: "DINPro Light", sans-serif;
  margin-left: 20vw;
  font-weight: 300;
  font-size: 12px;
  width: 31vw;
  line-height: 19px;
  opacity: 0;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 60vh;
}

.script-title {
  height: 40px;
  /* position: absolute; */
  padding-left: 20vw;
  font-family: "PortraitScript Regular", cursive;
  color: #d95244;
  font-weight: 300;
  font-size: 3em;
}

.fullbleed-image {
  width: 100vw;
  overflow: hidden;
}

.fullbleed-image-with-text .picture {
  padding-top: 8vh;
  padding-bottom: 3vh;
}

.gallery {
  margin-left: 20vw;
  padding-bottom: 20vh;
}

.gallery-portrait li img {
  width: 20vw;
}
.gallery-portrait {
  list-style: none;
  padding-left: 0;
}
.gallery-portrait :nth-child(1) img {
  transform: translateY(35.436px);
  margin-left: 50%;
}

.gallery-portrait :nth-child(2) img {
  margin-left: 0;
  transform: translateY(93.0499px);
}

.gallery-portrait :nth-child(3) img {
  transform: translateY(136.948px);
  margin-left: 50%;
}
.gallery-portrait :nth-child(4) img {
  margin-left: 0;
  transform: translateY(195.436px);
}

/* vertical */
.gallery-landscape {
  position: absolute;
  margin-top: 20vh;
  list-style: none;
  padding-left: 0;
}

.gallery-landscape li img {
  width: 36vw;
  padding-bottom: 20vw;
}
.gallery-landscape ul {
  list-style: none;
}
.gallery-landscape :nth-child(1) img {
  transform: translateY(-12.0944px);
  margin-left: 0;
}

.gallery-landscape :nth-child(2) img {
  margin-left: 24vw;

  transform: translateY(91.2538px);
}

.gallery-landscape :nth-child(3) img {
  transform: translateY(24.6);
  margin-left: 0;
}
.gallery-landscape :nth-child(4) img {
  margin-left: 24vw;
  transform: translateY(65px);
}

.three-images-in-row-gallery {
  padding-top: 15vh;
  margin-left: 20vw;
}
.three-images-in-row-gallery ul li {
  transform: translateY(14px);
  width: 28%;
  overflow: hidden;
  margin-right: 5%;
  display: inline-block;
}

.three-images-in-row-gallery ul :nth-child(2) {
  transform: translateY(-36px);
}

@media only screen and (min-width: 769px) {
  .introduction {
    height: 100vh;
  }

  .introduction-head {
    width: 100%;
    top: 0;
    height: auto;
    text-align: left;
    writing-mode: horizontal-tb;
  }
}

@media only screen and (max-width: 562px) {
  .introduction-title {
    max-width: 80vw;
    margin-left: 10%;
    font-size: 5em;
  }
  .paragraph {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    width: 90%;
    margin-right: 3.175rem;
  }
}

/* Animation */

.slide-up {
  -webkit-animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-left {
  -webkit-animation: slide-left 1s cubic-bezier(0.645, 0.045, 0.355, 1) both;
  animation: slide-left 1s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}
.fade-in {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.fade-out {
  -webkit-animation: fade-out 1.5s ease-out both;
  animation: fade-out 1.5s ease-out both;
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.unfold-to-right {
  -webkit-animation: unfold-to-right 2.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: unfold-to-right 2.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.scale-down-center {
  -webkit-animation: scale-down-center 0.8s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-down-center 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/**
 * ----------------------------------------
 * animation slide-up
 * ----------------------------------------
 */
@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-up {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes unfold-to-right {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes unfold-to-right {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
